
#tweets {
    height: 115px;
}
/*
#loader2 {
	margin: 5px 38%;
}
*/
ul#tabnav { 
	padding: 3px 7px 6px 7px; /* Third number must change with respect to below padding */
	width: 575px;
}
body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a { 
	top: 0;
	font-weight: normal;
	padding-top: 6px; /* This must change with respect to above and below padding */
}
ul#tabnav li a { 
	padding: 6px 20px; /* First number must change with respect to above padding */
}
