#tweets {
    height: 115px;
}
.tweet-pic img {
	height: 52px;
	margin-top: -22px;
}
#logo {
    margin-top: inherit;
    padding: 0 0 0 10px;
    line-height: inherit;
}
#logo span {
	display: block;
	float: left;
	padding-top: 27px;
}

img.rss {
    padding-top: 0;
	margin-top: -17px;
}
.project-col img {
	margin-top: -18px;
}