ul#tabnav { 
	margin: 26px 40px 0; 
	width: 655px;
	float: right;
	border-bottom: 0;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4, body#tab5 li.tab5 { 
	border-bottom: 0;
}
body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a { 
	top: 1px;
	padding-top: 11px; /* This must change with respect to above and below padding */
	font-size: 1.3em;
	border-bottom: 0;
}

#content {
	padding-top: 16px;
}

#tab2 #sidebar {
	display: none;
}
#tab2 #main {
	width: 950px;
}
#tab2 #main .project-col-dtl {
	width: 715px;
}
#tab2 #main .project-col span {
	font-weight: 600;
	font-size: 90%;
}

.project-col h3 a {
	font-weight: 600;
	font-size: 1.1em;
}

#pager a {
	margin: 0 7px;
}